<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
<bean id="add1" class="si.Address">
    <property name="addressLine1" value="Kaithahar Khurd"></property>
     <property name="city" value="Buxar "></property>
      <property name="state" value="Bihar"></property>
       <property name="country" value="India"></property>
</bean>
<bean id="e" class="si.Employee">
    <property name="id" value="101"></property>
    <property name="name" value="Akshat Akarsh"></property>
    <property name="address" ref="add1"></property>
    
</bean>
</beans>